<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.mojang.util">
    <Appenders>
    </Appenders>
    <Loggers>
        <Logger level="info" name="com.mojang" additivity="false">
        </Logger>
        <Logger level="info" name="net.minecraft" additivity="false">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL" />
            </filters>
        </Logger>
        <Root level="all">
        </Root>
    </Loggers>
</Configuration>
